.insertPageContainer {
    display: flex;
    flex-direction: column;
    gap: calc(var(--mui-spacing) * 2);

}

.cardContainer {
    display: flex;
    flex-direction: row;
    gap: calc(var(--mui-spacing) * 2);
    height: 100%;
    justify-content: center;
}

.column {
    flex-direction: column;
    gap: calc(var(--mui-spacing) * 2);
    align-items: center;
}

.card {
    width: 25%;
    height: 50%;
    min-width: 400px;
    min-height: 300px;
    padding-bottom: calc(var(--mui-spacing) * 2);
}

.card:hover {
    cursor: pointer;
    background-color: var(--mui-palette-primary-light);
    transform: translateY(-2px);
    transition: transform 0.1s ease-in-out;
}

.cardMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, var(--mui-palette-primary-main) 0%, var(--mui-palette-primary-dark) 100%);
    padding: calc(var(--mui-spacing) * 3);
    min-height: 70%;
}

.icon {
    font-size: 96px;
    color: white;
}