.card {
  padding: 10px;
  min-width: 400px;
  max-width: 600px;
  box-sizing: border-box;
  height: 340px;
}

.editing {
  height: 385px;
}


.controlsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}

.selectsContainer {
  display: flex;
  gap: var(--mui-spacing);
}

.selectValue {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.chartTypeSelect {
  max-height: 40px;
}

.categorySelect {
  width: 130%;
  max-width: 150px;
  max-height: 40px;
}

.title {
  text-align: center;
}
